@{ 
    ViewData["Title"] = "The order is made";
}
<div class="container">
     <h2>@ViewData["Title"]</h2>

    <p>Order @ViewBag.OrderId is formed and will be processed soon.</p>

    <a asp-controller="Home" asp-action="Index">Home<</a>
</div>