<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-connection="Index" class="active">Главная</a></li>
    <li class="dropdown">
        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            @*<li><a href="shop.html">Products</a></li>*@
            <li><a asp-controller="Shop" asp-action="index">Products</a></li>
            <li><a asp-controller="ProductDetails" asp-action="index">Product-details</a></li>
            <li><a asp-controller="CheckOut" asp-action="index">CheckOut</a></li>
            <li><a asp-controller="Cart" asp-action="index">Cart</a></li>
            <li><a asp-controller="Login" asp-action="index">Login</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Blog" asp-action="index">Blog list</a></li>
            <li><a asp-controller="BlogSingle" asp-action="index">Blog Single</a></li>
        </ul>
    </li>
    <li><a asp-controller="ErrorView" asp-action="index">404</a></li>
    <li><a asp-controller="ContactUs" asp-action="index">Contact Us</a></li>
    <li><a asp-controller="Employees" asp-action="index">Employees</a></li>
</ul>